/* General section heading styling */

.section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  margin: 0 auto;
}

.section ul {
  list-style: none;
  padding: 0;
  line-height: 2;
}

.section a {
  color: #fff; /* Match header link color */
  text-decoration: none;
  
}

.section a:hover {
  text-decoration: none;
}

/* Desktop and Large Screens (1025px and up) */
@media (min-width: 1025px) {
  .section h2 {
    padding-top: 0;
  }
}
