.sitemap {
  padding: 3rem;
  background-color: #f9f9f9;
  color: #0770B5;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  max-width: 1200px;
  border-radius: 8px;
  margin: 0.2rem auto;

}

.sitemapList {
  list-style-type: none;
  padding: 0;
}

.sitemapList li {
  margin-bottom: 1rem;
}

.sitemapList a {
  text-decoration: none;
  color: #0770B5;
  font-size: 1.1rem;
}

.sitemapList a:hover {
  color: #06A3D7;
}

.subMenu {
  margin-top: 1rem;
  list-style-type: none;
  padding-left: 20px;
}

.subMenu li {
  margin-bottom: 0.5rem;
}

.subMenu a {
  font-size: 1rem;
  color: #0770B5;
}

.subMenu a:hover {
  color: #06A3D7;
}
