/* General styles for the nav */
.nav {
  position: relative;
}

/* Menu list */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1px;
  align-items: center;
  justify-content: space-between; /* Space out items evenly */
  transition: transform 0.3s ease-in-out;
}

/* Menu item styling */
.listItem {
  position: relative;
  width: 100%; /* Full width for mobile menu */
  cursor: pointer;
}

.navLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 20px;
  color: #0770B5; /* White text on mobile menu */
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
}

.navLink:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Subtle hover effect */
}

.arrowUp {
  transform: rotate(180deg);
}

/* Submenu styles */
.submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none; /* Hidden by default */
  flex-direction: column;
}

.open .submenu {
  display: flex; /* Show submenu when open */
}

.submenuItem {
  padding-left: 30px;
  padding-bottom: 30px;
  padding-top: 25px;
}

.submenuLink {
  text-decoration: none;
  font-size: 16px;
  color: #0770B5;
  transition: color 0.2s ease;
}

.submenuLink:hover {
  color: #fff;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* List Item Styles */
.listItem {
  opacity: 0; /* Start hidden */
  animation: fadeInUp 0.5s ease forwards;
  /* Stagger animation start time */
  animation-delay: calc(0.2s * var(--index, 0));
}

/* Mobile menu hidden by default */
@media (max-width: 1024px) {
  .list {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -220%;
    width: 100%;
    background-color: #fff; /* Navy background for mobile menu */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    justify-content: flex-start;
    padding: 20px; /* Create space from top */
    margin-top: 0;
    margin-left: 4rem;
    min-width: 500px; /* Set minimum width for submenu */
    max-height: 500px; /* Limit height for submenu */
    overflow-y: auto; /* Allow scrolling vertically */
    overflow-x: hidden; /* Allow scrolling vertically */
    transition: all 0.3s ease-in-out;
    border-radius: 0rem 0rem 0rem 0.5rem;
  }

  .show {
    left: 0;
  }

  /* Arrow for dropdowns */
  .arrow {
    transition: transform 0.3s ease;
    font-size: 1.5rem;
    margin-right: 60rem;
  }
}

/* Desktop full screen menu */
@media (min-width: 1025px) {
  .list {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    height: auto;
    background-color: transparent; /* Transparent background */
  }

  .navLink {
    font-weight: 600;
    padding: 10px 20px;
    color: #0770B5; /* Dark text for desktop */
    background-color: transparent;
  }

  /* Hover effect for large screens */
  .hasSubmenu:hover .submenu {
    opacity: 1; /* Make submenu fully visible */
    visibility: visible; /* Ensure submenu is interactable */
    transform: translateY(0); /* Reset position offset */
    transition: all 0.3s ease; /* Smooth transition for visibility and position */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff; /* White background for dropdown */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    margin: 0;
    z-index: 20;
    min-width: 200px;
    border-radius: 8px;
    font-weight: 400;
    list-style: none;
  }

  .submenu {
    opacity: 0; /* Hidden by default */
    visibility: hidden; /* Not interactable */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px 0;
    transform: translateY(-10px); /* Initial offset for animation */
    transition: all 0.3s ease; /* Smooth transition for opacity and position */
  }

  .submenuItem {
    padding: 10px;
  }

  .submenuLink {
    font-size: 16px;
    color: #0770B5;
  }

  .submenuLink:hover {
    color: #06A3D7; /* Dark hover color */
  }

  /* Arrow for dropdowns */
  .arrow {
    transition: transform 0.3s ease;
    font-size: 1.5rem;
  }
}
