/* Base Styles (Mobile First) */
.headerContainer {
  position: relative;
  padding: 160px 15px 20px 15px;
  background: url('https://res.cloudinary.com/den67ouct/image/upload/v1740958353/grouting_qn0vpb.jpg') no-repeat center center/cover;
  color: #fff;
  text-align: left;
  overflow: hidden;
}

/* Overlay Effect */
.headerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

/* Ensures text is above the overlay */
.headerContent {
  position: relative;
  z-index: 2;
  max-width: 100%;
  margin: 0;
}

.headerContent h1 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 10px;
  margin-left: 0.6rem;
}

.headerContent p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  margin-left: 0.6rem;
}

.breadcrumb {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  margin-left: 0.6rem;
}

.breadcrumb a {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  color: rgba(255, 255, 255, 0.7);
}

/* Media queries for tablets and desktops */
@media (min-width: 481px) and (max-width: 768px) {
  .headerContent h1 {
    font-size: 2rem;
  }

  .headerContent p {
    font-size: 1.2rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .headerContent h1 {
    font-size: 2.25rem;
  }

  .headerContent p {
    font-size: 1.3rem;
  }
}

/* Desktop Styles */
@media (min-width: 1025px) {
  .headerContainer {
    margin-top: 0rem;
  }

  .headerContent {
    max-width: 1200px;
    margin: 0 auto;
  }

  .headerContent h1 {
    font-size: 2.5rem;
  }

  .headerContent p {
    font-size: 1.4rem;
  }
}